
 /*     Banner */
.logo{
    text-align: center;
    background-color: #f0efe2;
    font-family: 'Courier New', Courier, monospace;
    height: 200px;
    
    border: none;
    display: block;
    padding: 50px 0;
}
/* nav bar  */
.navbar-brand a{
    text-decoration: none;
    color: rgb(80, 99, 134);

}
.navbar-brand{
    color: rgb(80, 99, 134);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.heading{
    padding: 50px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

/* cards   styling            */

.img{
    height: 150px;
}

/* footer */
.page-footer{
    
    color: black;
   
    background-color: #f0efe2;
    
}

 /* portfolio */
.head img{
    margin-top: 5px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
.portfolio{
    /* background-image: linear-gradient( 10.6deg,  rgba(196, 124, 155, 0.534) 3.0%, rgb(158, 175, 216) 97% ); */
    height: 300px;
    width: 250px;
    border: 2px solid rgb(80, 67, 134);
}
.portfolio p{
    
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.contact a .fa{
    width: 100px;
}
.contact{
    margin-bottom: 30px;
}


/* laptop */
@media screen and (min-width: 1200px) {

}
/* mobile */

@media screen and (min-width: 700px) {

}
