@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
       font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Navigation Bar  */
nav{
    /* align-items: space-between; */
    display: flex;
    /* width: 100%; */
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    padding: 1rem 2rem;
    /* max-width: 100vw; */
}
.brand img{
    width: 120px;
    height: auto;
    
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: end;
    /* width: 50%; */
    gap: 2rem;
}
.nav-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    /* position: relative; */
}
.header-end{
    display: block;
    height: 1px;
    background-color: grey;
    width: 100%;
    margin:5px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.heading{
    /* color:white; */
    flex:1;
    line-height: 1.2;
    max-width: 1100px;
    font-size: 3rem;
    display: flex;
    padding: 60px 40px; 
    gap: 20px;
    margin: 20px auto;
    justify-content: space-around;
    /* padding: 120px; */
    font-weight: 800;
     background: linear-gradient(
    90deg,
    rgb(111, 255, 164),
    rgb(98, 240, 237)
  );
  text-align: left;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.multi-container{
    display: flex;
    /* justify-content: space-around; */
    padding: 60px 40px; 
    gap: 20px;
    color: white;
    max-width: 1100px;
    margin: 0 auto;
      gap: 80px;
}
.profile{
   width: 130px;
  height: 130px;
  padding: 0.2px; /* thickness of ring */
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgb(111, 255, 164),
    rgb(98, 240, 237)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile img{
 width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;  
}
.multi-container .description{
    flex: 1;
    font-size:1rem;
    line-height: 2rem;
    font-weight: 300;
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.multi-container a{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    text-decoration: none;

}

.description-top{
    font-size: 1.7rem;
    font-weight: 700;
    /* margin-bottom: 10px; */
}
.freelance-offer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    color: white;
    padding: 20px;
    gap: 10px;
    
   
}
.freelance-offer > * {
  flex: 1;
}
.content p{
    /* width: 70%; */
    height: 150px; 
    font-size: 1.2rem;
    line-height: 1.5rem;
    flex: 0 0 350px;  
    /* flex: 1; */
    padding: 30px;
   font-family: 'IBM Plex Sans', sans-serif;

    /* background-color: #2a2a2a; */

}
.content{
    /* align-items: center;
    justify-content: center;
    padding: auto; */
    /* margin: 20px 0;*/
    /* min-width: 50%; */
    flex: 0 0 350px;  
     border-radius: 10px;
     

    /* width: 420px; */
}
.cards{
    display : flex;
      gap: 20px;
    transition: transform 0.5s ease;

}
.card {
  flex: 0 0 350px;   /* fixed visible card size */
  background-color: #2a2a2a;
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  height: 150px; 
}
.carousel-container {
  display: flex;
  align-items: center;
  width: 100%;
 overflow: hidden;
}

.carousel {

  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 20px;
  padding: 0 20px;
}
.freelance-offer button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.3;
}

@media (max-width: 800px){
    .freelance-offer {
    flex-direction: column;
  }
     .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .freelance-offer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .card{
   min-width: 100%;
 }
 .carousel {
    width: 100%;
    padding: 0;
  }
.multi-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
}

@media (max-width: 600px){
     .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .freelance-offer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .card{
   min-width: 100%;
}
 .carousel {
    width: 100%;
    padding: 0;
  }
    .reach{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 15px;
        margin-top: 10px;
    }
    .profile img{
    width: 120px;
    height: auto;
    border-radius: 150px;
}
    .multi-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  
    color: white;
}
    .heading{
        font-size: 2rem;
        padding :10px;
          text-align: left;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        z-index: 999;
    } 
   .line{
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
    }
    .nav-links{
        background-color: #1f1f1f;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        align-items: start;
        justify-content: start;
        padding-top: 50%;
        transition: .1s ease-in;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
    }
    .nav-links.active{
        right: 0;
    }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        
        transform: rotate(-45deg) translate(-50%, -50%);
    }
    .hamburger.active .line:nth-child(3){
        transform: rotate(45deg) translate(-50%, 50%);
    }

    
}
