:root{
       font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Navigation Bar  */
nav{
    /* align-items: space-between; */
    display: flex;
    /* width: 100%; */
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    padding: 1rem 2rem;
    /* max-width: 100vw; */
}
.brand img{
    width: 120px;
    height: auto;
    
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: end;
    /* width: 50%; */
    gap: 2rem;
}
.nav-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    /* position: relative; */
}
.header-end{
    display: block;
    height: 1px;
    background-color: grey;
    width: 100%;
    margin:5px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.heading{
    /* color:white; */
    font-size: 3rem;
    padding: 40px;
    font-weight: 800;
     background: linear-gradient(
    90deg,
    rgb(111, 255, 164),
    rgb(98, 240, 237)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 600px){
    .hamburger{
        display: block;
        cursor: pointer;
        z-index: 999;
    } 
   .line{
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
    }
    .nav-links{
        background-color: #1f1f1f;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        align-items: start;
        justify-content: start;
        padding-top: 50%;
        transition: .1s ease-in;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
    }
    .nav-links.active{
        right: 0;
    }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        
        transform: rotate(-45deg) translate(-50%, -50%);
    }
    .hamburger.active .line:nth-child(3){
        transform: rotate(45deg) translate(-50%, 50%);
    }

    
}
